USE [master]
GO
/****** Nesnesi: Database [GPproje] Betik Tarihi: 1.06.2026 14:49:19 ******/
CREATE DATABASE [GPproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GPproje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GPproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GPproje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GPproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GPproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GPproje]
GO
/****** Nesnesi: Table [dbo].[Filmler] Betik Tarihi: 1.06.2026 14:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilmAdi] [nvarchar](100) NULL,
	[SeriID] [int] NULL,
	[SiraNo] [int] NULL,
	[Mod] [nvarchar](50) NULL,
	[AfisPath] [nvarchar](max) NULL,
	[FragmanLink] [nvarchar](max) NULL,
	[Konu] [nvarchar](max) NULL,
 CONSTRAINT [PK__Filmler__3214EC270C60893F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Filmler] ON 

INSERT [dbo].[Filmler] ([ID], [FilmAdi], [SeriID], [SiraNo], [Mod], [AfisPath], [FragmanLink], [Konu]) VALUES (1, N'Lucy', NULL, NULL, N'Neşeli', N'https://images.justwatch.com/poster/305545808/s718/lucy.jpg', N'https://youtu.be/bN7ksFEVO9U?si=fRvlY5xHHlP2Y8ud', N'Beyninin %100ünü kullanma yeteneği kazanan bir kadının hikayesi.')
INSERT [dbo].[Filmler] ([ID], [FilmAdi], [SeriID], [SiraNo], [Mod], [AfisPath], [FragmanLink], [Konu]) VALUES (2, N'Arrival', NULL, NULL, N'Kızgın', N'https://images.justwatch.com/poster/8739115/s718/arrival.jpg', N'https://youtu.be/tFMo3UJ4B4g?si=2oYst_5nPE6_n23l', N'Dünyaya inen gizemli uzay gemileriyle iletişim kurmaya çalışan bir dilbilimcinin hikayesi.')
INSERT [dbo].[Filmler] ([ID], [FilmAdi], [SeriID], [SiraNo], [Mod], [AfisPath], [FragmanLink], [Konu]) VALUES (3, N'Interstellar', NULL, NULL, N'Üzgün', N'https://images.justwatch.com/poster/176580939/s718/interstellar.jpg', N'https://youtu.be/oIiFoG3wyMQ?si=MQF61lcLAD7VPaSp', N'İnsanlığın yeni yuvasını bulmak için solucan deliğinden geçen astronotların yolculuğu.')
GO
SET IDENTITY_INSERT [dbo].[Filmler] OFF
GO
USE [master]
GO
