USE [GPproje]
GO
/****** Nesnesi: Table [dbo].[Izlenenler] Betik Tarihi: 4.06.2026 21:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izlenenler](
	[KullaniciId] [int] NULL,
	[FilmId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Izlenenler] ([KullaniciId], [FilmId]) VALUES (1, 159)
INSERT [dbo].[Izlenenler] ([KullaniciId], [FilmId]) VALUES (1, 372)
INSERT [dbo].[Izlenenler] ([KullaniciId], [FilmId]) VALUES (1, 67)
GO
