USE [master]
GO
/****** Nesnesi: Database [logingp] Betik Tarihi: 1.06.2026 14:50:24 ******/
CREATE DATABASE [logingp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'logingp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\logingp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'logingp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\logingp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [logingp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [logingp]
GO
/****** Nesnesi: Table [dbo].[Kullanicilar] Betik Tarihi: 1.06.2026 14:50:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre]) VALUES (1, N'hasan yılmaz', N'4232')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre]) VALUES (2, N'sude akagündüz', N'4209')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre]) VALUES (3, N'gizem peçe', N'4234')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
USE [master]
GO
